// for pc
@media (min-width: 1245px) {
    section.DashboardMain {
        height: 100%;
        width: 100%;
        // @include flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px;
        overflow: scroll;

        span {
            width: 100%;
            // margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                color: $main-blue;
            }
            span {
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: row;
                // align-items: center;
                justify-content: center;
                .inputsFromMUI {
                    width: 180px;
                    margin-bottom: 20px;
                }
            }
        }

        .DashboardPaper {
            min-height: 48%;
            width: 49%;
            margin-bottom: 10px;
            padding: 10px;

            h4 {
                color: $main-blue;
            }
        }
    }
}
// for tab
@media (min-width: 760px) and (max-width: 1245px) {
    section.DashboardMain {
        height: 100%;
        width: 100%;
        // @include flex;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;
        padding: 10px;
        overflow: scroll;

        span {
            width: 100%;
            // margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                color: $main-blue;
            }
            span {
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                .inputsFromMUI {
                    width: 180px;
                    margin-bottom: 20px;
                }
            }
        }

        .DashboardPaper {
            min-height: 48%;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;

            h4 {
                color: $main-blue;
            }
        }
    }
}
// for mob
@media (max-width: 760px) {
    section.DashboardMain {
        height: 100%;
        width: 100%;
        // @include flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        overflow: scroll;

        span {
            width: 100%;
            // margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                color: $main-blue;
            }
            span {
                height: fit-content;
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                .inputsFromMUI {
                    width: 180px;
                    margin-bottom: 20px;
                }
            }
        }

        .DashboardPaper {
            min-height: 30%;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px;

            h4 {
                color: $main-blue;
            }
        }
    }
}
